<component name="libraryTable">
  <library name="springframework.boot.spring.docs" type="repository">
    <properties maven-id="org.springframework.boot:spring-boot-docs:1.5.4.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-docs-1.5.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-1.5.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-4.3.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-actuator-1.5.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jackson-databind-2.8.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jackson-annotations-2.8.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jackson-core-2.8.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-autoconfigure-1.5.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-devtools-1.5.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-loader-1.5.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-loader-tools-1.5.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-test-1.5.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-test-autoconfigure-1.5.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-1.5.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-4.3.9.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.2-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-4.3.9.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-4.3.9.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-4.3.9.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-4.3.9.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-actuator-1.5.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jackson-databind-2.8.8-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jackson-annotations-2.8.0-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jackson-core-2.8.8-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-autoconfigure-1.5.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-devtools-1.5.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-loader-1.5.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-loader-tools-1.5.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-test-1.5.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-test-autoconfigure-1.5.4.RELEASE-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES />
  </library>
</component>