<component name="libraryTable">
  <library name="springframework.boot.spring" type="repository">
    <properties maven-id="org.springframework.boot:spring-boot:2.3.3.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-2.3.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.2.8.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-2.3.3.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.2.8.RELEASE-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-2.3.3.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.2.8.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>