<component name="libraryTable">
  <library name="springframework.boot.spring.configuration.metadata" type="repository">
    <properties maven-id="org.springframework.boot:spring-boot-configuration-metadata:2.1.3.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-configuration-metadata-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/android-json-0.0.20131108.vaadin1.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-configuration-metadata-2.1.3.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/android-json-0.0.20131108.vaadin1-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES />
  </library>
</component>