<component name="libraryTable">
  <library name="springframework.boot.spring.autoconfigure" type="repository">
    <properties maven-id="org.springframework.boot:spring-boot-autoconfigure:1.2.5.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-autoconfigure-1.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-1.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/snakeyaml-1.14.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-autoconfigure-1.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-1.2.5.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-4.1.7.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.2-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-4.1.7.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-4.1.7.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-4.1.7.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-4.1.7.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/snakeyaml-1.14-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES />
  </library>
</component>