<component name="libraryTable">
  <library name="springframework.boot.spring.autoconfigure.processor" type="repository">
    <properties maven-id="org.springframework.boot:spring-boot-autoconfigure-processor:2.1.2.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-autoconfigure-processor-2.1.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/spring-boot-autoconfigure-processor-2.1.2.RELEASE-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES />
  </library>
</component>